#############################################################################
# Excluindo do commit arquivos gerados pelo eclipe relacionado ao workspace #
#############################################################################
.metadata
RemoteSystemsTempFiles
